@font-face{
    font-family: FUENTE2;
    src: url("Coffee\ Extra.ttf");
}
@font-face{
    font-family: FUENTE3;
    src: url("Like\ Eat.ttf");
}
@font-face{
    font-family: FUENTE4;
    src: url("Creamer\ .ttf");
}
@font-face{
    font-family: FUENTE5;
    src: url("Spring\ in\ May.ttf");
}
@font-face{
    font-family: FUENTE6;
    src: url("AmaticSC-Regular.ttf");
}
@font-face{
    font-family: FUENTE7;
    src: url("Panipuri.ttf");
}
@font-face{
    font-family: FUENTE8;
    src: url("Austria.ttf");
}
@font-face{
    font-family: FUENTE9;
    src: url("Fernstad\ Free\ Personal\ Use.otf");
}